
header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px #645555 solid;
}
header img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
header a img{
    border: none;
}
nav {
    border-bottom: #645555 double;
    padding-bottom: 3%;
}
footer  {
    bottom: 0;
    padding: 10px; /* Поля вокруг текста */
    color: #645555; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    text-align: center;
    border-top: 2px #645555 solid;
}
footer button a{
     color: #645555;
}
footer button a:hover{
    color: black !important;
    transition: .6s;
}

ul li{
    display: inline;
    font-family: Crimson Regular;
    font-weight: 500;
    text-decoration-line: none;
    font-size: larger;
}
ul.nav li a{
    color: #645555 !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
    transition: .6s;
}
#dabout{
    text-align: center;
    margin: 5%;
    white-space: nowrap;
    overflow: hidden;
}
#dabout div{
    display: inline-block;
    white-space: pre-wrap;
}
#textdiv {
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    color: #645555;
    font-family: Crimson Regular;
    font-weight: 500;
}
#kristi1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
#kristi2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;

}
.colortext{
    color: black;
    font-weight: bold;
}

 .container {
      max-width: 900px;
      margin: 0 auto;
    }

    .slider__container {
      padding-left: 0;
      padding-right: 0;
    }

    .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .slider__item-container {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
      height: 250px;
      color: #fff;
    }
#header-bottom{
    padding: 15px;
    border-bottom: #645555 double;


}
#hearly{
    padding-top: 5%;
    padding-bottom: 5%;
}

#text{
    text-align: center;
    padding: 5px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    color: #645555;
    font-family: Crimson Regular;
    font-weight: 600;
}

#video{
    padding: 10px;
}

#conta{
    text-align: center;
    padding: 5px;
    word-wrap: break-word;
    color: #645555;
    font-family: Crimson Regular;
    font-weight: 400;
}
#childconta{
    font-family: Crimson Regular;
    margin-left: auto;
    margin-right: auto;
}
#childconta button a{
     color: #645555;
}
#childconta button a:hover{
    color: black !important;
    transition: .6s;
}
#frm{
    font-family: Crimson Regular;
    margin: 10px;
    color: #645555;
}