{% extends 'basic.html' %}


{% block title %}Обо мне{% endblock %}

{% block content %}
    <div  class="container">
        <div id="dabout" class="row">
        <div class="col-md-4"><img id="kristi1" src="/static/img/kristi1.jpg" alt=""></div>
        <div id="textdiv" class="col-md-4">
            <h1>Я - фотограф!</h1>
            <p>Привет! Меня зовут <span class="colortext">Кристина</span>. Я фотограф-романтик, влюбленный в естественный солнечный свет. Мне близки гармония и чувства в кадре. В фотографии больше всего ценю воздух, естественность и красивые детали. Люблю видеть в кадре счастливых и гармоничных людей, их доброту, чувственность и нежность. Живу в Краснодаре, но открыта для фотосъемок по всему миру. Я с радостью помогу сохранить в памяти Ваш неповторимый день!</p>
        </div>
        <div class="col-md-4"><img id="kristi2" src="/static/img/kristi2.jpg" alt=""></div>
        </div>
    </div>
{% endblock %}